@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.box-container{
    width:90%;
    margin: auto;
}
header{
    position: absolute;
    top:0px;
    padding:15px;
    z-index: 999;
    left:0px;
    right:0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .header-title{
        color: #fff;
    }
    .navbar{
        ul{
            li{
                display: inline-block;
                list-style: none;
                position: relative;
                margin:10px 20px;
                a{
                    text-decoration: none;
                    display: block;
                    transition: all 300ms ease;
                    padding:10px 17px;
                    &.current-page{
                        background: #fff;
                        padding:10px 17px;
                        border-radius:50px;
                        color: #5470ec;
                        &:not(:only-child):after{
                            color: #5470ec;
                        }
                    }
                    color: #bfbf;
                    &:hover{
                        background: #fff;
                        padding:10px 17px;
                        border-radius:50px;
                        color: #5470ec;
                        &:not(:only-child):after{
                            color: #5470ec;
                        }
                    }
                    &:not(:only-child):after{
                        content: "❯";
                        color: #bfbf;
                        vertical-align: middle;
                        float:right;
                        margin-left:15px;
                        transform:rotate(90deg);
                      }
                }
                &:hover{
                    .submenu{
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .submenu{
                    position: absolute;
                    min-width:200px;
                    left:0px;
                    visibility: hidden;
                    opacity: 0;
                    padding-top:10px;
                    transition: all 300ms ease;
                    &::before{
                        content: '';
                        width:20px;
                        height:20px;
                        display: block;
                        background-color: #fff;
                        clip-path: polygon(0% 100%,0% 0%,100% 0%,100% 0%);
                        transform: rotate(45deg);
                        position: absolute;
                        top:0px;
                        left:20px;
                    }
                    li{
                        display: block;
                        margin:0px;

                        &:last-child{
                            border-bottom-left-radius:10px;
                            border-bottom-right-radius:10px;
                            overflow: hidden;
                        }
                        a{
                            background-color: #fff;
                            color: #5470ec;
                            padding:10px;
                            font-size: 14px;
                            &:hover{
                                color: #fff;
                                background-color: #5470ec;
                                border-radius:0px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.top-content{
    width:100%;
    height:60vh;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    .github-link{
        text-decoration: none;
        color: #fff;
        display: block;
        text-align: center;
        i{
            font-size: 7em;
        }
        span{
            margin:7px 0px;
            font-size: 2em;
            display: block;
        }
    }
}

.title{
    text-align: center;
    color: #4157b9;
    text-transform: uppercase;
}
.container{
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }
    .recounts-section {
        margin:60px auto;
        width:100%;
        text-align: center;
        display: flex;

        .recount-content{
            margin: auto;
            i,span{
                color: #5470ec;
                display: block;
                
            }
            i{
                margin:15px 0px;
                font-size: 50px;
            }
            > span{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 30px;
                &::after{
                    content: '';
                    padding:2px;
                    width:30%;
                    display: block;
                    background-color: #5470ec;
                    margin:5px auto;
                    border-radius:5px;
                }
            }
        }
        .recount{
            font-family: sans-serif;
            font-weight: bold;
            width: auto;
            min-width: 33.3%;
            color: #5470ec;
            font-size: 30px;
            display: inline-block;

        }
    }
}
