@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.box-container {
  width: 90%;
  margin: auto;
}

header {
  position: absolute;
  top: 0px;
  padding: 15px;
  z-index: 999;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header .header-title {
  color: #fff;
}
header .navbar ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  margin: 10px 20px;
}
header .navbar ul li a {
  text-decoration: none;
  display: block;
  transition: all 300ms ease;
  padding: 10px 17px;
  color: #bfbf;
}
header .navbar ul li a.current-page {
  background: #fff;
  padding: 10px 17px;
  border-radius: 50px;
  color: #5470ec;
}
header .navbar ul li a.current-page:not(:only-child):after {
  color: #5470ec;
}
header .navbar ul li a:hover {
  background: #fff;
  padding: 10px 17px;
  border-radius: 50px;
  color: #5470ec;
}
header .navbar ul li a:hover:not(:only-child):after {
  color: #5470ec;
}
header .navbar ul li a:not(:only-child):after {
  content: "â¯";
  color: #bfbf;
  vertical-align: middle;
  float: right;
  margin-left: 15px;
  transform: rotate(90deg);
}
header .navbar ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
header .navbar ul li .submenu {
  position: absolute;
  min-width: 200px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  padding-top: 10px;
  transition: all 300ms ease;
}
header .navbar ul li .submenu::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: #fff;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 0%);
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 20px;
}
header .navbar ul li .submenu li {
  display: block;
  margin: 0px;
}
header .navbar ul li .submenu li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
header .navbar ul li .submenu li a {
  background-color: #fff;
  color: #5470ec;
  padding: 10px;
  font-size: 14px;
}
header .navbar ul li .submenu li a:hover {
  color: #fff;
  background-color: #5470ec;
  border-radius: 0px;
}

.top-content {
  width: 100%;
  height: 60vh;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 90%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-content .github-link {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
}
.top-content .github-link i {
  font-size: 7em;
}
.top-content .github-link span {
  margin: 7px 0px;
  font-size: 2em;
  display: block;
}

.title {
  text-align: center;
  color: #4157b9;
  text-transform: uppercase;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.container .recounts-section {
  margin: 60px auto;
  width: 100%;
  text-align: center;
  display: flex;
}
.container .recounts-section .recount-content {
  margin: auto;
}
.container .recounts-section .recount-content i, .container .recounts-section .recount-content span {
  color: #5470ec;
  display: block;
}
.container .recounts-section .recount-content i {
  margin: 15px 0px;
  font-size: 50px;
}
.container .recounts-section .recount-content > span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}
.container .recounts-section .recount-content > span::after {
  content: "";
  padding: 2px;
  width: 30%;
  display: block;
  background-color: #5470ec;
  margin: 5px auto;
  border-radius: 5px;
}
.container .recounts-section .recount {
  font-family: sans-serif;
  font-weight: bold;
  width: auto;
  min-width: 33.3%;
  color: #5470ec;
  font-size: 30px;
  display: inline-block;
}
